<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>Am Kafui | A <em>Software developer building for the Web/Mobile</em>.</p>
<p>I get creative solving problems with <em>code</em></p>
